a {text-decoration: none;} a:hover {text-decoration: none;}
.background2{background-image: url("http://i.imgur.com/eHSVOgC.jpg");background-size: cover;min-height:100%;}
#page a:hover{color: crimson;}
#lngtxt{margin-bottom: 40px;}
#page h1{font-weight: 900;}
#page h2{font-weight: 900;}
