html{width: 100%;}body{width: 100%;}
body{background-color: #1c1c1c;}
.background2{background-image: url(/Images/metal.jpg);height: 100%;width:100%;background-size: cover;background-position: center;}
.top{margin-top: 8%;}.bot{margin-bottom: 15%;}
.mini{border: solid white 2px;border-radius: 1000pc;background-color: white;}
#reveal{width: 100%;}
#revealHeader{position: absolute; top: 70px; color: white; text-align: center; margin: auto; width: 100%; font-family: 'Quattrocento Sans', sans-serif;}
#revH{font-family: 'Permanent Marker', cursive; font-size: 50px;}
