body{background-color: #1c1c1c;}
.cms{background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');height: 100%;background-size: cover;background-position: bottom}
.navbutton{margin-top: 10px;}
img {max-width: 100%;max-height: 100%;}
.countdown{margin-top: 15%;color: white;}
.pod{width: 100%;overflow: hidden;height: 100%;background-color: #1c1c1c}

.left20{margin-left: 20%;}

.but{width:20%;float: left;height: 50%;}



.one{background-image: url(../images/image_part_001.jpg);background-size: cover;opacity: 1;}
.one:hover{opacity: .5;}
.two{background-image: url(../images/image_part_002.jpg);background-size: cover;opacity: 1;}
.two:hover{opacity: .5;}
.three{background-image: url(../images/image_part_003.jpg);background-size: cover;opacity: 1;}
.three:hover{opacity: .5;}

.sub{margin-top: 40%;opacity: 1;}
.sub:hover{opacity: 1;}