html{width: 100%;height: 100%;}
body{width: 100%;height: 100%}
/*-----Nav-Button---*/
.navbutton {display: inline-block;position:relative;overflow:hidden;text-transform: capitalize;}
.navbutton:hover{color: crimson;text-decoration: none;}
.navbutton:before {content: "";position: absolute;width: 0;background : crimson;left: 45%;height: 2px;bottom: 0;transition: all .3s;}
.navbutton:hover:before {width: 100%;left:0;}

.white{color: white}.black{color: #1c1c1c;}.font{font-family: 'Oswald', sans-serif;}

.blackhr {background-color: #1c1c1c;height: 1px;opacity: .5;}

