html{min-height: 100%;}
body{height: 100%;overflow: hidden;font-weight: 900;}
.background{background-image: url(../images/backgrounds/stars.jpg); background-size: cover;height: 100vh;}
.offset-top{margin-top: 25vh;}
