html{height: 100%;width: 100%;}
body{height: 100%;width: 100%;}

.border{border: solid black 2px;padding-bottom: 5px;background-color: rgba(0,0,0,0);transition: all 1s;font-weight: 900;}
.border:hover{background-color: rgba(0,0,0,.5);}
.donate{color: black;margin-top: 0px; text-align: center;}
.border:hover .donate{color: white;}


.pre-back{background: url(../images/backgrounds/spons1.jpg) fixed;background-size: cover;height: 100%;background-position: center;}

.sponHold{margin-bottom: 40px;}
h1 {font-weight: 900; font-size: 4.1vh;} h3{font-weight: 900; font-size: 3.5vh;}
hr {color: #1c1c1c;background-color: #1c1c1c;height: 2px;}
p  {font-size: 2.4vh}

#images img{border-bottom: solid 5px transparent;padding-bottom: 5px;transition: 1s;}
#images img:hover{opacity: .8;border-bottom-color: #1c1c1c;}

@media screen and (max-width: 991px) {
    .pre-back{height: 50%;}

}
