html{width: 100%;}body{width: 100%;}
.page-scroll{}
.top{margin-top: 0%;}.notop{margin-top: 1px;margin-bottom: 15px;}
.picHold{height: 175px; margin-bottom: 60px;}
.picHold2{height: 175px; margin-bottom: 60px;}
.pic{height: 100%;border-radius: 50%;position: relative;margin: auto;}
.nameTxt{color: white; margin-bottom: 1px;}
.picTxt{color: crimson;}
