html{width: 100%;}body{width: 100%;}
.page-scroll{}
.top{margin-top: 0%;}.notop{margin-top: 1px;margin-bottom: 15px;font-weight: 800;}
.picHold{height: 175px; margin-bottom: 60px;}
.picHold2{height: 175px; margin-bottom: 60px;}
.pic{height: 100%;border-radius: 50%;position: relative;margin: auto;}
.nameTxt{color: white; margin-bottom: 1px;}
.picTxt{color: crimson;}


.one1{background: url('/images/lead.png')no-repeat ;background-size: cover;background-position: center;}
.two2{background: url('/images/business.png')no-repeat ;background-size: cover; background-position: center;}
.thr3{background: url('/images/elec.png')no-repeat ;background-size: cover;background-position: center;}
.four{background: url('/images/fuel.png')no-repeat ;background-size: cover;background-position: center;}
.five{background: url('/images/mag.png')no-repeat ;background-size: cover;background-position: center;}
.six{background: url('/images/oth2.png')no-repeat ;background-size: cover;background-position: center;}