html{width: 100%;height: 100%;}body{width: 100%;height: 100%;}
.background{background: url('http://i.imgur.com/1s1qbGv.jpg')repeat fixed 100%;background-size: cover;height: 100%;background-position: center;}
.font{font-family: 'Oswald', sans-serif;}.white{color: white}.black{color: #1c1c1c;}
.maintitle{text-align: center;font-size: 10em;letter-spacing: .2em;margin-top: 100px;}
.backgroundtext{background: url('https://giant.gfycat.com/UnnaturalEachGoa.gif');background-position: 50% 25%;-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-size: cover;}
a:link {text-decoration: none;}a:visited {text-decoration: none;}a:hover {text-decoration: none;}a:active {text-decoration: none;}
.navbutton {text-align: left;display: inline-block;position:relative;overflow:hidden;color: black;}
.navbutton:hover{color: crimson;}
.navbutton:before {content: "";position: absolute;width: 0;background : crimson;left: 45%;height: 2px;bottom: 0;transition: all .3s;}
.navbutton:hover:before {width: 100%;left:0;}